<% content_for :title, "Web掲示板" %>

<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
  <div class="ms-auto boards__linkBox">
    <a href="/boards/new" class="btn btn-outline-dark">新規作成</a>
  </div>
</div>
<table class="table table-hover boards__table">
  <thead class="table-dark">
    <tr>
      <th>ID</td>
      <th>タイトル</td>
      <th>作成者</td>
      <th>作成日時</td>
      <th>更新日時</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>雑談掲示板</td>
      <td>Taro</td>
      <td>2018年4月1日</td>
      <td>2018年4月15日</td>
    </tr>
    <tr>
      <th>2</th>
      <td>雑談掲示板2</td>
      <td>Ken</td>
      <td>2018年4月1日</td>
      <td>2018年4月15日</td>
    </tr>
  </tbody>
</table>



